<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>Servlets.Registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ingresar</servlet-name>
        <servlet-class>Servlets.Ingresar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Borrar</servlet-name>
        <servlet-class>Servlets.Borrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listausuarios</servlet-name>
        <servlet-class>Servlets.listausuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizar</servlet-name>
        <servlet-class>Servlets.Actualizar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Actualizar2</servlet-name>
        <servlet-class>Servlets.Actualizar2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ingresar</servlet-name>
        <url-pattern>/Ingresar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Borrar</servlet-name>
        <url-pattern>/Borrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listausuarios</servlet-name>
        <url-pattern>/listausuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizar</servlet-name>
        <url-pattern>/Actualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Actualizar2</servlet-name>
        <url-pattern>/Actualizar2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
