body{
    background-image: url("MEDIEVAL.jpg");
    font-family: sans-serif;
    color: #06192e;
    padding-top: 1%;
}
.linea{
    background: #06192e;
}

.logout{
    text-align: left;
}
.informacion{
    background-color: white;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;    
    padding-left: 0.7%;
    padding-right: 0.7%;
    padding-bottom: 0.7%;
}

.botones{
    border-bottom-left-radius:  7px;
    border-bottom-right-radius:  7px;
    background-color: white;
    padding-left: 0.7%;
    padding-right: 0.7%;
    padding-bottom: 0.7%;
}
.todo{
  width: 95%;
  max-width: 500px;
  margin: auto;
  background: white;
  border-radius: 7px;
  border:  #06192e;
}
.contenedor{
  padding: 10px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.boton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    cursor: pointer;
}
.boton1:hover {
    background-color: white;
    color: #06192e;
    border: 2px solid #06192e;
   
}

.boton1 {
    background-color: #06192e;
    color: white;
    border: 2px solid white;
    width: 100%;
}
