body{
  margin: 0;
  font-family: sans-serif;
  background-image: url("MEDIEVAL.jpg");
  font-size: 16px;
  color: #06192e;
}
h1{
  color: #06192e;
  text-align: center;
}

.tablas{
    margin-left: 16.5%;
    margin-top: 2%;
    border-top-left-radius:   7px;
    border-top-right-radius:   7px;
    border-bottom-left-radius:  7px;
    border-bottom-right-radius:  7px;
    background-color: white;
    padding-left: 0.8%;
    padding-right: 0.8%;
    padding-bottom: 0.8%;
    padding-top: 0.2%;
    width: 900px;
    text-align: center;
}



p{
  text-align: center;
}
table{
  width: 80%;
}
table, th, td{
  border: 2px solid #06192e;
  border-collapse: collapse;
}
td{
  text-align: center;
}
 td{
  padding: 10px;
}
th{
    padding: 2px;
}

th{
  background-color: #06192e;
  color:white;
}
